header {
  background: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    linear-gradient(0deg, #cf0063, #cf0063);
  padding: 30px 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav__list-item a {
  font-family: var(--GR);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--wh);
}
.header__arrow {
  color: white;
  width: 9px;
  height: 40px;
}
.header__wrap {
  display: flex;
  flex-direction: column;
}
.header__arrow-link {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__desc-title {
  font-family: var(--GR);
font-size: 80px;
font-weight: 400;
line-height: 80px;
  margin-bottom: 10px;
  color: var(--wh);

}
.banner__desc-p {
  font-family: var(--GR);
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 25px;
  color: var(--wh);
  width: 677px;

}
.banner__desc-link {
  font-family: var(--GR);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 20px 40px;
  color: var(--wh);
  background: #FC0A7E;
  border-radius: 3px;
  transition: 0.4s;
}
.banner__desc-link:hover {
  color: #FC0A7E;
  background: var(--wh);
}