header {
  background: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    linear-gradient(0deg, #cf0063, #cf0063);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0 48px 0;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav__list-item a {
  font-family: var(--GR);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: var(--white);
}
