@import url(./base.css);
@import url(./fonts.css);
@import url(./header.css);
@import url(./media.css);
@import url(./footer.css);
.nullam {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg);
  justify-content: space-between;
  gap: 55px;
}
.nullam__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
  max-width: 607px;
  width: 100%;
}
.nullam__desc-span {
  font-family: var(--GR);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #a8a8a8;
  text-transform: uppercase;
}
.nullam__desc-title {
  font-family: var(--GR);
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  color: var(--wh);
}
.food__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
  margin-top: 80px;
}
.food__info {
  display: flex;
  align-items: center;
  gap: 170px;
}
.food__info-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 306px;
  width: 100%;
}
.food__info-desc-span {
  font-family: var(--GR);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #a8a8a8;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.food__info-desc-title {
  font-family: var(--GR);
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  color: var(--bl);
  margin-bottom: 24px;
}
.food__info-desc-p {
  font-family: var(--GR);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #6b6b6b;
}
.aspects__wrap {
  display: flex;
  justify-content: center;
  gap: 61px;
}
.aspects__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 371px;
  width: 100%;
  margin-top: 160px;
}
.aspects__info-title {
  font-family: var(--GB);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--bl);
  margin-top: 40px;
}
.aspects__info-p {
  font-family: var(--GB);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #6b6b6b;
  margin-top: 17px;
  text-align: center;
}
.numbers__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 163px;
}
.numbers__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.numbers__info-title {
  font-family: var(--GR);
  font-size: 59px;
  font-weight: 400;
  line-height: 90px;
  color: #333333;
}
.numbers__info-p {
  font-family: var(--GB);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--bl);
}
.numbers__info-p-a {
  font-family: var(--GR);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bl);
}
.description__wrap {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
}
.description__section {
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: center;
}
.description__section-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 330px;
  width: 100%;
}
.description__section-desc-span {
  font-family: var(--GR);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  color: #a8a8a8;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.description__section-desc-title {
  font-family: var(--GR);
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  color: var(--bl);
  margin-bottom: 24px;
}
.description__section-desc-p {
  font-family: var(--GR);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #6b6b6b;
}
.description__section-desc-p-span {
  font-family: var(--GB);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
}
.quotes__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 162px;
}
.quotes__img {
  margin-bottom: 66px;
}
.quotes__info {
  font-family: var(--GR);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #6b6b6b;
  margin-bottom: 17px;
  max-width: 700px;
  width: 100%;
}
.quotes__name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 88px;
}
.quotes__name-p {
  font-family: var(--GR);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #6b6b6b;
}
.quotes__name-span {
  font-family: var(--GB);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #6b6b6b;
}
.quotes__name-line {
  height: 1px;
  width: 30px;
  background: #d3d3d3;
}
.quotes__page {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 142px;
}
.quotes__page-black {
  width: 7px;
  height: 7px;
  background: #222222;
}
.quotes__page-grey {
  width: 7px;
  height: 7px;
  background: #22222266;
}
.quotes__payment {
  margin-bottom: 118px;
}
.quote__bg {
  width: 210vh;
}
.download {
  background: linear-gradient(276.18deg, #6e28b1 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(0deg, #fc0a7e, #fc0a7e) ;
  position: relative;
}
.download__waves {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.download__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 165px 0 156px;
}
.download__title {
  font-family: var(--GR);
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  color: var(--wh);
}
.download__btns {
  display: flex;
  gap: 10px;
}
.download__btns-link {
  font-family: var(--GR);
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: var(--wh);
background: #fc0a7e;
padding: 20px 40px;
border-radius: 3px;
border: 1px solid #fc0a7e;
transition: 0.3s;
}
.download__btns-link:hover {
  background: rgba(0, 0, 0, 0);
}